.App {
  text-align: center;
  margin: 0 auto;
}

.main-icon {
  width: 80px;
  height: 80px;
  font-size: 4em;
  padding: 30px;
  border: 8px solid black;
  border-radius: 100%;
  text-align: center;
}